<p id="notice"><%= notice %></p>
<h1>This is your order detail</h1>
<table border="1" style="width:100%">
	<tr>
		<td>Buyer</td>
		<td>Product Name</td>
		<td>Product Price</td>
		<td>Quantities</td>
		<td>Created at</td>
	</tr>
	<tr>
		<td><%=@current_user.name%></td>
		<td><%=@product.name%></td>
		<td><%=@product.price%></td>
		<td>1</td>
		<td><%=@order.created_at%></td>
	</tr>
</table>
	<h2><%=link_to "Continue Shopping", shopping_path%></h2>
